<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Text-To-SQL UI Assistant</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta content="Text-To-SQL UI Assistant" name="description"/>
        <meta content="AI At Scale" name="author"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="https://hpe-mlde.determined.ai/latest/_static/favicon-hpe.ico">

        <!-- App css -->
        <link href="./assets/plugins/jquery-steps/jquery.steps.css" rel="stylesheet" type="text/css">
        <link href="./assets/plugins/dropify/css/dropify.min.css" rel="stylesheet">
        <link href="./assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="./assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="./assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="./assets/css/app.min.css" rel="stylesheet" type="text/css" />    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"/>
        <link href="./assets/css/uiclient.css?3" rel="stylesheet" type="text/css" />    
    </head>

    <body>

    <div id="loading_model_list" class="note note-success successmessage loadingpanel" style="display:none;">
        <div class="text-center">
            <i class="la la-spinner text-primary la-spin progress-icon-spin"></i>
        </div>
        <strong>Loading Model List</strong>
        <br>Please Wait<br>
    </div>

    <div id="loading_dataset_list" class="note note-success successmessage loadingpanel" style="display:none;">
        <div class="text-center">
            <i class="la la-spinner text-primary la-spin progress-icon-spin"></i>
        </div>
        <strong>Loading Dataset List</strong>
        <br>Please Wait<br>
    </div>


    <div id="loading_model" class="note note-success successmessage loadingpanel" style="display:none;">
        <div class="text-center">
            <i class="la la-spinner text-primary la-spin progress-icon-spin"></i>
        </div>
        <strong>Loading Model</strong>
        <br>Please Wait<br>
    </div>



    <div class="page-wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">            
            &nbsp;
        </div>
        <!-- Top Bar End -->

        <!-- Page Content-->
        <div class="page-content">
            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="row">
                                <div class="col">
                                    <h4 class="page-title">Text-To-SQL Assistant</h4>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                                        <li class="breadcrumb-item active">Login</li>
                                    </ol>
                                </div><!--end col-->
                            </div><!--end row-->                                                              
                        </div><!--end page-title-box-->
                    </div><!--end col-->
                </div><!--end row-->
                <!-- end page title end breadcrumb -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card"> 
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">                      
                                        <h4 class="card-title">Your SQL Assistant</h4>                   
                                    </div><!--end col-->  
                                    <div class="col-auto">             
                                    </div><!--end col-->                                      
                                </div>  <!--end row-->                                  
                            </div><!--end card-header-->
                            <div class="card-body border-bottom-dashed">

                                <fieldset id="form-horizontal-p-0" role="tabpanel" aria-labelledby="form-horizontal-h-0" class="body current" aria-hidden="false">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group row">
                                                <label for="serverurl" class="col-lg-3 col-form-label">Choose Model</label>
                                                <div class="col-lg-9" id="model_list_select_div"></div>
                                            </div><!--end form-group-->
                                        </div><!--end col-->
                                    </div><!--end row-->                                            
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group row">
                                                <label for="login" class="col-lg-3 col-form-label">Login</label>
                                                <div class="col-lg-9" id="dataset_list_select_div"></div>
                                            </div><!--end form-group-->
                                        </div><!--end col-->
                                    </div><!--end row-->
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group row">
                                                <label for="password" class="col-lg-3 col-form-label">Your Question</label>
                                                <div class="col-lg-9">
                                                    <input id="question" name="question" type="text" class="form-control" value="Enter your question here">
                                                </div>
                                            </div><!--end form-group-->
                                        </div><!--end col-->
                                    </div><!--end row-->                                        
                                    <div class="row">
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-sm btn-primary px-3" onClick="javascript:connect();">Ask</button>
                                        </div>
                                    </div><!--end row--> 
                                </fieldset>

                                </div><!--end card-body-->                                
                            </div><!--end card-->
                        </div><!-- end col-->

                    </div><!--end row-->

                    <div class="row" id="registerpanel">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Register a new model</h4>
                                    <p class="text-muted mb-0">Lazy dev did not build any validation. Make sure all inputs are correct</p>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <form id="form-model" class="form-horizontal">
                                        <h3>Model Details</h3>
                                        <fieldset>
                                            <div class="row" style="display:flex;">
                                                <div class="col-md-6"> <!-- first column -->
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <label for="model_name" class="col-lg-3 col-form-label">Model Name</label>
                                                            <div class="col-lg-9">
                                                                <input id="model_name" name="model_name" type="text" class="form-control">
                                                            </div>
                                                        </div><!--end form-group-->
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <label for="input_type" class="col-lg-3 col-form-label">Input Type</label>
                                                            <div class="col-lg-9">
                                                                <select id="input_type" name="input_type" class="form-control">
                                                                    <option value="NONE">--Please Select--</option>
                                                                    <option value="Tabular">Tabular</option>
                                                                    <!--<option value="CV">Computer Vision</option>-->
                                                                    <option value="NLP">NLP</option>
                                                                </select>
                                                            </div>
                                                        </div><!--end form-group-->
                                                    </div><!--end row-->
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <label for="model_output" class="col-lg-3 col-form-label">Output Type</label>
                                                            <div class="col-lg-9">
                                                                <select id="model_output" name="model_output" class="form-control">
                                                                    <option value="NONE">--Please Select--</option>
                                                                    <option value="Multiclass">Multiclass</option>
                                                                    <option value="Multilabel">Multilabel</option>
                                                                    <option value="ObjectDetection">Object Detection</option>
                                                                    <option value="Regression">Regression</option>
                                                                </select>
                                                            </div>
                                                        </div><!--end form-group-->
                                                    </div><!--end row-->
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <label for="none" class="col-lg-3 col-form-label">Reference Dataset</label>
                                                            <div class="col-lg-9 form-description">
                                                                <span>
                                                                    Your reference data set must be a CSV file that contains all attributes (input and non-input).<br/>
                                                                    All prediction fields MUST be named with the 'pred_' prefix <br/>
                                                                    All ground truth fields MUST be named with the 'gt_' prefix <br/>
                                                                    Other than the prefix, the prediction and ground truth fields must have the same name. <br/>
                                                                    Example: "pred_risk" and "gt_risk"
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div><!--end row-->
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <label for="reference_file" class="col-lg-3 col-form-label">Reference CSV File</label>
                                                            <div class="col-lg-9">
                                                                <input type="file" id="csvfile" name="csvfile" class="dropify" /> 
                                                            </div>
                                                        </div><!--end form-group-->
                                                    </div><!--end row-->

                                                </div> <!--end of first column-->

                                                <div class="col-md-6"> <!-- second column -->
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <label for="requirements-txt" class="col-lg-3 col-form-label">Model Type</label>
                                                            <div class="col-lg-9">
                                                                <div class="form-check-inline my-1">
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" id="model_type1" name="model_type" value="Streaming" class="custom-control-input">
                                                                        <label class="custom-control-label" for="model_type1">Streaming</label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-check-inline my-1">
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" id="model_type2" name="model_type" value="Batch" class="custom-control-input" checked>
                                                                        <label class="custom-control-label" for="model_type2">Batch</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!--end form-group-->
                                                    </div>
                                                      
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <label for="explain_file_desc" class="col-lg-3 col-form-label">
                                                                <input type="checkbox" id="explainability" name="explainability" value="enabled">
                                                                Enable Explainability?</label>
                                                            <div class="col-lg-9 form-description">
                                                                <span>
                                                                    The Zip file should contain all necessary assets to enable explainability<br/>
                                                                    The requirements.txt file (must have this name). <br/>
                                                                    The entrypoint.py file. (must have this name) <br/>
                                                                    The serialized model (to be loaded by the entrypoint file) <br/>
                                                                    Any additional files required to run the model.
                                                                </span>
                                                            </div>
                                                        </div><!--end form-group-->
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <label for="explain_file" class="col-lg-3 col-form-label">Upload Explainability Zip File</label>
                                                            <div class="col-lg-9">
                                                                <input type="file" id="zipfile" name="zipfile" class="dropify"/> 
                                                            </div>
                                                        </div><!--end form-group-->
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <label for="none" class="col-lg-3 col-form-label">Validate Model Data</label>
                                                            <div class="col-lg-9">
                                                                <button type="button" class="btn btn-primary waves-effect waves-light" onClick="javascript:validateModelData();">Validate</button>
                                                            </div>
                                                        </div><!--end form-group-->
                                                    </div>                                                    
                                                </div> <!--end of second column-->
                                            </div><!--end row-->
                                        </fieldset><!--end fieldset-->

                                    </form><!--end form-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->             

                    

                </div><!-- container -->

                <footer class="footer text-center text-sm-left">
                    &copy; 2024 HPE AI At Scale Team
                </footer><!--end footer-->
            </div>
            <!-- end page content -->
        </div>



        <!-- jQuery  -->
        <script src="./assets/js/jquery.min.js"></script>
        <script src="./assets/js/bootstrap.bundle.min.js"></script>
        <script src="./assets/js/metismenu.min.js"></script>
        <script src="./assets/js/waves.js"></script>
        <script src="./assets/js/feather.min.js"></script>
        <script src="./assets/js/simplebar.min.js"></script>
        <script src="./assets/js/moment.js"></script>
        <script src="./assets/js/app.js"></script>
        <script src="./assets/plugins/jquery-steps/jquery.steps.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.js"></script>

        <script src="./assets/plugins/dropify/js/dropify.min.js"></script>
     

        <script type="text/javascript">
        
        var model_attributes = [];
        var model_data = {};

        $(document).ready(function() {
            console.log("page loaded");
            getModelList();
            getDatasetList();
        });   

        function connect() {
            console.log("--> Connecting To Backend")

            let request = new XMLHttpRequest();
            request.open("POST", "http://{{hostname}}:{{port}}/connect");
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.send(data);
            request.onload = () => {
                var responseStatus = request.status;
                console.log("--> Connection Status: " + responseStatus);
                }
        }

        function getModelList() {
            console.log("--> Getting Model List");

            // Show Loading Panel
            $("#loading_model_list").show();

            let request = new XMLHttpRequest();
            request.open("GET", "http://{{hostname}}:{{port}}/list_models");
            request.setRequestHeader("Content-type", "application/json");
            request.send();
            request.onload = () => {
                var responseMsg = JSON.parse(request.response);
                var htmlcontent = "";
                if (responseMsg.length === 0) {
                    htmlcontent += "No Models Found";
                }
                else {
                    htmlcontent += "<select id='model' name='model' class='form-control'> \n";
                    for (var x = 0; x < responseMsg.length; x++) 
                    {
                        var thisModel = responseMsg[x];
                        htmlcontent += "  <option value='" + thisModel.name +  "'>" + thisModel.name + " </option> \n";
                    }
                    htmlcontent += "</select> \n";                    
                }
                document.getElementById("model_list_select_div").innerHTML = htmlcontent;
            }

            // Hide Loading Panel
            $("#loading_model_list").hide();
        }

        function getDatasetList() {
            console.log("--> Getting Dataset List");

            // Show Loading Panel
            $("#loading_dataset_list").show();

            let request = new XMLHttpRequest();
            request.open("GET", "http://{{hostname}}:{{port}}/list_datasets");
            request.setRequestHeader("Content-type", "application/json");
            request.send();
            request.onload = () => {
                var responseMsg = JSON.parse(request.response);
                var htmlcontent = "";
                if (responseMsg.length === 0) {
                    htmlcontent += "No Datasets Found";
                }
                else {
                    htmlcontent += "<select id='dataset' name='dataset' class='form-control'> \n";
                    for (var x = 0; x < responseMsg.length; x++) 
                    {
                        var thisDS = responseMsg[x];
                        htmlcontent += "  <option value='" + thisDS.name +  "'>" + thisDS.name + " </option> \n";
                    }
                    htmlcontent += "</select> \n";                    
                }
                document.getElementById("dataset_list_select_div").innerHTML = htmlcontent;
            }

            // Hide Loading Panel
            $("#loading_dataset_list").hide();            

        }





        function validateModelData() {
            // send the entire form, see what happens
            // form-model
            console.log("Validating Model");
            var data = new FormData(jQuery('form')[0]);

            /*
            jQuery.each(jQuery('#file')[0].files, function(i, file) {
                data.append('files[]', file);
            });
            */

            $.ajax({
                    url: 'http://{{hostname}}:{{port}}/validate', 
                    type: 'POST',
                    data: data,
                    processData: false,
                    contentType: false
                }).done(function(data){
                    //console.log("Success Response: " + data);
                    response_data = JSON.parse(data);
                    globalThis.model_attributes = response_data.data;
                    globalThis.model_data = response_data.model_data
                    console.log("response status: ", response_data.status)
                    renderAttributeList(response_data.data);

                }).fail(function(data){
                    console.log("Fail Response: " + data);
            });
        }

        function renderAttributeList(data) {

            // CREATE TABLE WITH MODEL ATTRIBUTES
            // Model Validation Fields
            var model_name = $("#model_name").val();
            $("#model_name_valid").html(model_name);
            var model_type_valid = $('input[name="model_type"]:checked').val();
            $("#model_type_valid").html(model_type_valid);
            var input_type_valid = $("#input_type").val();
            var input_type = $("#input_type").val();
            $("#input_type_valid").html(input_type);
            var output_type = $("#model_output").val();
            $("#output_type_valid").html(output_type);            


            //attribute_list
            var htmlcontent = "";
            htmlcontent += "<table id='review_table' class='table table-striped  mb-0'> \n";
            htmlcontent += "    <thead> \n";
            htmlcontent += "        <tr> \n";
            htmlcontent += "            <th>Delete</th> \n";
            htmlcontent += "            <th>Name</th> \n";
            htmlcontent += "            <th>Type</th> \n";
            htmlcontent += "            <th>Stage</th> \n";
            htmlcontent += "            <th>Monitor for Bias</th> \n";
            htmlcontent += "        </tr> \n";
            htmlcontent += "    </thead> \n";
            htmlcontent += "    <tbody> \n";

            for (var x = 0; x < data.length; x++) 
            {
                var thisAttr = data[x];
                htmlcontent += "        <tr> \n";
                htmlcontent += "            <td class='col-1'> <button type='button' class='btn btn-sm btn-soft-danger btn-circle' onclick=\"removeAttr('"+ thisAttr.name + "');\"> \n";
                htmlcontent += "            <i class='dripicons-trash' aria-hidden='true'></i></button> </td> \n";
                htmlcontent += "            <td class='col-2'> " + thisAttr.name +  " </td> \n";
                htmlcontent += "            <td class='col-2'> " + thisAttr.type + " </td> \n";
                htmlcontent += "            <td class='col-3'>  \n";
                var select_stage = "stage_" + thisAttr.name;
                htmlcontent += "                <select id='" + select_stage + "' name='" + select_stage + "' class='form-control' style='max-width: 200px;'>  \n";
                htmlcontent += "                     <option value='" + thisAttr.stage + "' selected>" + thisAttr.stage +"</option> \n";
                htmlcontent += "                     <option value='Input'>Input</option><option value='NonInput'>Non-Input</option> \n";
                htmlcontent += "                     <option value='Prediction'>Prediction</option><option value='GroundTruth'>Ground Truth</option>\n";
                htmlcontent += "            </td> \n";
                htmlcontent += "            <td class='col-4' style='display: flex;'> \n";
                if (thisAttr.stage === "Input" || thisAttr.stage === "NonInput") {
                    htmlcontent += "            <div class='col-6'><input type='checkbox' id='bias_" + thisAttr.name +"' onclick=\"enableBins('"+ thisAttr.name + "');\"> \n";
                    htmlcontent += "            Yes </input> </div> \n";
                }
                if (thisAttr.stage === "Prediction") {
                    htmlcontent += "            <div class='col-9'><input type='checkbox' id='positive_" + thisAttr.name +"' \"> \n";
                    htmlcontent += "            Positive Prediction </input> </div> \n";
                }                
                if (thisAttr.type == 'int64' && thisAttr.valcount > 20 && (thisAttr.stage === "Input" || thisAttr.stage === "NonInput")) {
                    htmlcontent += "        <div class='col-6' id='bins_" + thisAttr.name +"' style='display:flex;opacity: 0;'>      \n";
                    htmlcontent += "            <div style='margin-left:10px;display:flex;'> Bins: </div> <div style='margin-left:10px;display:flex;'>     \n";
                    htmlcontent += "            <input type='text' id='bucket_" + thisAttr.name + "' class='form-control' style='width:200px;height:28px;' value=\"[None, 10, 100, None]\"/> \n";
                    htmlcontent += "            </div>      \n";
                    htmlcontent += "        </div>      \n";
                }
                htmlcontent += "              </div>\n";
                htmlcontent += "            </td> \n";
                htmlcontent += "        </tr> \n";
            }
            htmlcontent += "            </tbody> \n";
            htmlcontent += "        </table> \n";
            htmlcontent += "    </div> \n";
            htmlcontent += "</div> \n";
        
            document.getElementById("attribute_list").innerHTML = htmlcontent;
            $("#registerpanel").hide();
            $("#reviewpanel").show();                      
        }

        function removeAttr(name) {

            attr_list = globalThis.model_attributes;
            console.log("Removing attribute: " + name);
            console.log("thisAttr1: " + JSON.stringify(attr_list[0]));

            // remove attribute
            for (var x = 0; x < attr_list.length; x++) {
                var thisAttr = attr_list[x];
                if (thisAttr.name === name) {
                    attr_list.splice(x, 1);
                    document.getElementById("review_table").deleteRow(1+x);
                }
            }

            console.log("Removed Attribute: " + name);
            console.log("Attribute List: " + JSON.stringify(attr_list));
            globalThis.model_attributes = attr_list;
        
        }

        function enableBins(attr_name) {
            divname = "#bins_" + attr_name;
            console.log("Attr: " + attr_name + "  | Bin: " + divname);
            $(divname).css({opacity: 100});
        }

        function wizardBack() {
            $("#registerpanel").show();
            $("#reviewpanel").hide();              
        }
        
        function saveModel() {
            // Step 1 - Collect all the data
            attr_list = globalThis.model_attributes;
            var updated_attr_list = [];
            for (var x = 0; x < attr_list.length; x++) {
                var thisAttr = attr_list[x];
                // Check if Bias is checked
                bias_field = "#bias_" + thisAttr.name;
                if($(bias_field).is(':checked')) {
                    thisAttr.bias = 1;
                    bins_field = "#bucket_" + thisAttr.name;
                    if($(bins_field).val()) {
                        thisAttr.bins = $(bins_field).val();
                    }
                }
                if (thisAttr.name.substring(0,4) === "PRED") {
                    positive_field = "#positive_" + thisAttr.name;
                    if($(positive_field).is(':checked')) {
                        thisAttr.positive = 1;
                    } else { thisAttr.positive = 0; }
                }
                updated_attr_list.push(thisAttr);
            }            

            // Step - Show Loading Panel
            $("#save_loading").show();
            

            // Prepare data to send
            var save_data = { 'model_data' : globalThis.model_data, 'model_attributes' : updated_attr_list};

            // Step 2 - Send Data to Server to Save Model
            $.ajax({
                url : 'http://{{hostname}}:{{port}}/save',
                type: 'POST',
                data: JSON.stringify(save_data),
                contentType: 'application/json; charset=utf-8',
                dataType   : 'json',
                success    : function(data){
                    console.log("---> Model Saved with ID: " + data.model_id);
                    $("#save_loading").hide();
                    if(data.explainability == "enabled") {
                        $("#confirmation_model_id").html(data.model_id);
                        startTimer(120, "#pre_explain_counter", enableExplainability);
                        $("#save_complete").show();
                    }
                    else {
                        $("#process_complete").show();
                    }

                }
            });            
        }



        function startTimer(duration, divname, cb) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                $(divname).html(minutes + ":" + seconds);

                if (--timer < 0) {
                    clearInterval(__timer);
                    timer = duration;
                }
                // callback execution
                cb();
            }, 1000);
        }



        function enableExplainability() {
            $("#save_complete").hide();
            $("#expl_loading").show();
            startTimer(60*15, "#explain_counter", completeSaveProcess);
        }


        function completeSaveProcess() {
            $("#expl_loading").hide();
            $("#process_complete").show();            
        }


        // dropify js        
        $(function () {
        $('.dropify').dropify();
        });

        // form wizard
        $(function ()
        {
            $("#form-horizontal").steps({
                headerTag: "h3",
                bodyTag: "fieldset",
                transitionEffect: "slide"
            });
        });


        </script>        

    </body>
</html>
