<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Text-To-SQL UI Assistant</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta content="Text-To-SQL UI Assistant" name="description"/>
        <meta content="AI At Scale" name="author"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="https://hpe-mlde.determined.ai/latest/_static/favicon-hpe.ico">

        <!-- App css -->
        <link href="./assets/plugins/jquery-steps/jquery.steps.css" rel="stylesheet" type="text/css">
        <link href="./assets/plugins/dropify/css/dropify.min.css" rel="stylesheet">
        <link href="./assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="./assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="./assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="./assets/css/app.min.css" rel="stylesheet" type="text/css" />    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"/>
        <link href="./assets/css/uiclient.css?3" rel="stylesheet" type="text/css" />    
    </head>

    <body>

    <div id="loading_model_list" class="note note-success successmessage loadingpanel" style="display:none;">
        <div class="text-center">
            <i class="la la-spinner text-primary la-spin progress-icon-spin"></i>
        </div>
        <strong>Loading Model List</strong>
        <br>Please Wait<br>
    </div>

    <div id="loading_dataset_list" class="note note-success successmessage loadingpanel" style="display:none;">
        <div class="text-center">
            <i class="la la-spinner text-primary la-spin progress-icon-spin"></i>
        </div>
        <strong>Loading Dataset List</strong>
        <br>Please Wait<br>
    </div>


    <div id="loading_model" class="note note-success successmessage loadingpanel" style="display:none;">
        <div class="text-center">
            <i class="la la-spinner text-primary la-spin progress-icon-spin"></i>
        </div>
        <strong>Loading Model</strong>
        <br>Please Wait<br>
    </div>



    <div class="page-wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">            
            &nbsp;
        </div>
        <!-- Top Bar End -->

        <!-- Page Content-->
        <div class="page-content">
            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="row">
                                <div class="col">
                                    <h4 class="page-title">Text-To-SQL Assistant</h4>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                                        <li class="breadcrumb-item active">Chat</li>
                                    </ol>
                                </div><!--end col-->
                            </div><!--end row-->                                                              
                        </div><!--end page-title-box-->
                    </div><!--end col-->
                </div><!--end row-->
                <!-- end page title end breadcrumb -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card"> 
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">                      
                                        <h4 class="card-title">Model & Dataset Configuration</h4>                   
                                    </div><!--end col-->  
                                    <div class="col-auto">             
                                    </div><!--end col-->                                      
                                </div>  <!--end row-->                                  
                            </div><!--end card-header-->
                            <div class="card-body border-bottom-dashed">

                                <fieldset id="form-horizontal-p-0" role="tabpanel" aria-labelledby="form-horizontal-h-0" class="body current" aria-hidden="false">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group row">
                                                <label for="serverurl" class="col-lg-3 col-form-label">Choose Model</label>
                                                <div class="col-lg-9" id="model_list_select_div"></div>
                                            </div><!--end form-group-->
                                        </div><!--end col-->
                                        <div class="col-md-4" style="display: inline-flex;">
                                            <div class="col-md-3">
                                                <div class="col-auto">
                                                    <button type="button" class="btn btn-sm btn-primary px-3" onClick="javascript:load_model();">Load Model</button>
                                                </div><!--end form-group-->    
                                            </div><!--end col-->
                                            <div class="col-md-2"> <div class="col-auto">Status </div></div>
                                            <div class="col-md-6"> <div class="col-auto" id="modelstatus">&nbsp; </div></div>
                                        </div>                                        
                                    </div><!--end row-->                                            
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group row">
                                                <label for="login" class="col-lg-3 col-form-label">Choose Dataset</label>
                                                <div class="col-lg-9" id="dataset_list_select_div"></div>
                                            </div><!--end form-group-->
                                        </div><!--end col-->
                                        <div class="col-md-4">
                                            <div class="col-auto">
                                               &nbsp;
                                            </div><!--end form-group-->
                                        </div><!--end col-->                                            
                                    </div><!--end row-->
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group row">
                                                <label for="password" class="col-lg-3 col-form-label">Your Question</label>
                                                <div class="col-lg-9">
                                                    <input id="question" name="question" type="text" class="form-control" placeholder="Enter your question here">
                                                </div>
                                            </div><!--end form-group-->
                                        </div><!--end col-->
                                        <div class="col-md-4">
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-sm btn-primary px-3" onClick="javascript:submitQuestion();">Ask</button>
                                            </div><!--end form-group-->
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </fieldset>

                                </div><!--end card-body-->                                
                            </div><!--end card-->
                        </div><!-- end col-->

                    </div><!--end row-->

                    <div class="row" id="responsepanel">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Prompt and Response</h4>
                                    <p class="text-muted mb-0">Evaluate the prompt generated for the model and see the generated response.</p>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <form id="form-model" class="form-horizontal">
                                        <fieldset>
                                            <div class="row" style="display:flex;">
                                                <div class="col-md-6"> <!-- first column -->
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <div class="col-lg-9">
                                                                <label for="prompt" class="form-label">The Prompt</label>
                                                                <textarea id="prompt" name="prompt" type="textarea" class="form-control"></textarea>
                                                            </div>
                                                        </div><!--end form-group-->
                                                    </div>
                                                </div> <!--end of first column-->
                                                <div class="col-md-6"> <!-- first column -->
                                                    <div class="row">
                                                        <div class="form-group row col-md-9">
                                                            <div class="col-lg-9">
                                                                <label for="answer" class="form-label">The Answer:</label>
                                                                <textarea id="answer" name="answer" type="textarea" class="form-control"></textarea>
                                                            </div>
                                                        </div><!--end form-group-->
                                                    </div>
                                                </div> <!--end of first column-->

                                            </div><!--end row-->
                                        </fieldset><!--end fieldset-->

                                    </form><!--end form-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->             

                    

                </div><!-- container -->

                <footer class="footer text-center text-sm-left">
                    &copy; 2024 HPE AI At Scale Team
                </footer><!--end footer-->
            </div>
            <!-- end page content -->
        </div>



        <!-- jQuery  -->
        <script src="./assets/js/jquery.min.js"></script>
        <script src="./assets/js/bootstrap.bundle.min.js"></script>
        <script src="./assets/js/metismenu.min.js"></script>
        <script src="./assets/js/waves.js"></script>
        <script src="./assets/js/feather.min.js"></script>
        <script src="./assets/js/simplebar.min.js"></script>
        <script src="./assets/js/moment.js"></script>
        <script src="./assets/js/app.js"></script>
        <script src="./assets/plugins/jquery-steps/jquery.steps.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.js"></script>

        <script src="./assets/plugins/dropify/js/dropify.min.js"></script>
     

        <script type="text/javascript">
        
        var model_notloaded = "<span style='color:red;'>Not Loaded</span>";
        var model_loaded = "<span style='color:green;'>Loaded</span>";
        var modelLoaded = false;

        $(document).ready(function() {
            console.log("page loaded");
            getModelList();
            getDatasetList();
            update_modelstatus();
        });   

        function update_modelstatus(modelLooaded) {
            if(modelLoaded) { document.getElementById("modelstatus").innerHTML = model_loaded; }
            else {document.getElementById("modelstatus").innerHTML = model_notloaded; }
        }

        function connect() {
            console.log("--> Connecting To Backend")

            let request = new XMLHttpRequest();
            request.open("POST", "http://{{hostname}}:{{port}}/connect");
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.send(data);
            request.onload = () => {
                var responseStatus = request.status;
                console.log("--> Connection Status: " + responseStatus);
                }
        }

        function getModelList() {
            console.log("--> Getting Model List");

            // Show Loading Panel
            $("#loading_model_list").show();

            let request = new XMLHttpRequest();
            request.open("GET", "http://{{hostname}}:{{port}}/list_models");
            request.setRequestHeader("Content-type", "application/json");
            request.send();
            request.onload = () => {
                var response = request.response;
                var payload = response.replace(/'/g, '"');
                console.log("--> Response: " + payload);
                var responseMsg = JSON.parse(payload);
                model_list = responseMsg["models"];
                var htmlcontent = "";
                if (model_list.length === 0) {
                    htmlcontent += "No Models Found";
                }
                else {
                    htmlcontent += "<select id='model' name='model' class='form-control'> \n";
                    for (var x = 0; x < model_list.length; x++) 
                    {
                        var thisModel = model_list[x];
                        htmlcontent += "  <option value='" + thisModel.name +  "'>" + thisModel.name + " </option> \n";
                    }
                    htmlcontent += "</select> \n";                    
                }
                document.getElementById("model_list_select_div").innerHTML = htmlcontent;
                var model_status = responseMsg["model_status"];
                console.log("--> Model Status: " + model_status)
                if (model_status == "loaded") { modelLoaded = true; }
                else { modelLooaded = false; }
                update_modelstatus(modelLooaded);
            }

            // Hide Loading Panel
            $("#loading_model_list").hide();
        }

        function getDatasetList() {
            console.log("--> Getting Dataset List");

            // Show Loading Panel
            $("#loading_dataset_list").show();

            let request = new XMLHttpRequest();
            request.open("GET", "http://{{hostname}}:{{port}}/list_datasets");
            request.setRequestHeader("Content-type", "application/json");
            request.send();
            request.onload = () => {
                var response = request.response;
                var payload = response.replace(/'/g, '"')
                console.log("--> Response: " + payload);                
                var responseMsg = JSON.parse(payload);

                var htmlcontent = "";
                if (responseMsg.length === 0) {
                    htmlcontent += "No Datasets Found";
                }
                else {
                    htmlcontent += "<select id='dataset' name='dataset' class='form-control'> \n";
                    for (var x = 0; x < responseMsg.length; x++) 
                    {
                        var thisDS = responseMsg[x];
                        htmlcontent += "  <option value='" + thisDS.name +  "'>" + thisDS.name + " </option> \n";
                    }
                    htmlcontent += "</select> \n";                    
                }
                document.getElementById("dataset_list_select_div").innerHTML = htmlcontent;
            }

            // Hide Loading Panel
            $("#loading_dataset_list").hide();            

        }

        function load_model() {
            var e = document.getElementById("model");
            var model_name = e.value;
            console.log("--> Loading Model: " + model_name);

            var data = 'model_name=' + model_name;

            // Show Loading Panel
            $("#loading_model").show();

            let request = new XMLHttpRequest();
            request.open("POST", "http://{{hostname}}:{{port}}/load_model");
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.send(data);
            request.onload = () => {
                var response = request.response;
                var payloadr = response.replace(/'/g, '"')
                console.log("--> Response: " + payloadr);
                var responseMsg = JSON.parse(payloadr);
                message = responseMsg["message"];
                 // Hide Loading Panel
                $("#loading_model").hide();
                var model_status = responseMsg["model_status"];
                console.log("--> Model Status: " + model_status)
                if (model_status == "loaded") { modelLoaded = true; }
                else { modelLooaded = false; }
                update_modelstatus(modelLooaded);
            }
        }

        function submitQuestion() {
            var e = document.getElementById("question");
            var question = e.value;
            console.log("--> Asking Question: " + question);

            // Show Loading Panel
            $("#loading_model").show();

            let request = new XMLHttpRequest();
            request.open("POST", "http://{{hostname}}:{{port}}/load_model");
            request.setRequestHeader("Content-type", "application/json");
            request.send();
            request.onload = () => {
                var response = request.response;
                var payload = response.replace(/'/g, '"')
                console.log("--> Response: " + payload);                
                var responseMsg = JSON.parse(payload);
                var htmlcontent = "";
                if (responseMsg.length === 0) {
                    htmlcontent += "No Datasets Found";
                }
                else {
                    htmlcontent += "<select id='dataset' name='dataset' class='form-control'> \n";
                    for (var x = 0; x < responseMsg.length; x++) 
                    {
                        var thisDS = responseMsg[x];
                        htmlcontent += "  <option value='" + thisDS.name +  "'>" + thisDS.name + " </option> \n";
                    }
                    htmlcontent += "</select> \n";                    
                }
                document.getElementById("dataset_list_select_div").innerHTML = htmlcontent;
            }

            // Hide Loading Panel
            $("#loading_dataset_list").hide();            

        }

        



        // dropify js        
        $(function () {
        $('.dropify').dropify();
        });

        // form wizard
        $(function ()
        {
            $("#form-horizontal").steps({
                headerTag: "h3",
                bodyTag: "fieldset",
                transitionEffect: "slide"
            });
        });


        </script>        

    </body>
</html>
